.photos__grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    column-gap: 10px;
    row-gap: 15px;
}

@media screen and (max-width: 1277px) and (min-width: 1024px){
    .photos__grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 5px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .photos__grid {
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        column-gap: 2px;
    }
}

@media screen and (max-width: 1277px) and (min-width: 768px){
    .photos__grid {
        row-gap: 3px;
    }
}


@media screen and (max-width: 768px){
    .photos__grid {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        row-gap: 7px;
    }
}