.intro {
    margin: 0;
    padding: 92px 148px 0;
    max-width: 690px;
}

@media screen and (max-width: 1277px) and (min-width: 1024px){
    .intro {
        padding: 92px 48px 0;
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 768px){
    .intro {
        padding: 110px 24px 0;
    }
  }