.cover{
    display: flex;
    flex-direction: column;
    margin: 92px 42px 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 740px;
    max-width: 1184px;
    background: url('../../images/cover-trains.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.cover::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(2A, 2C, 2F, 0.3);
}