.footer {
  min-height: 18px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
@media screen and (max-width: 1024px) and (min-width: 768px){
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px){
  .footer {
      margin: 0;
      padding: 64px 18px 24px;
      flex-direction: column;
      align-items: flex-start;
  }
}